<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>Home</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="styles.css" />
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="main-header">
            <nav class="main-nav nav">
                <ul>
                </ul>
            </nav>
            <h1 class="band-name band-name-large">ICBC Administration Portal</h1>
        </header>
        <section class="container content-section">
        <div class="jumbotron text-xs-center">
        <h1 class="display-3"></h1>
        <p class="lead">Please select form the links below.</p>
        <hr>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="/membership" role="button">Membership Registration</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="/education" role="button">Weekend School Registration</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="/donate" role="button">Donate</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="/payment" role="button">Make a Payment</a>
        </p>
        </div>
        </section>
        <footer class="page-footer font-small indigo">
        <div class="container text-center text-md-left">
            <div class="row">
            <div class="col-md-3 mx-auto">
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-3 mx-auto">
            </div>
            <hr class="clearfix w-100 d-md-none">
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-3 mx-auto">
            </div>
            </div>
        </div>
        </footer>
    </body>
</html>

